html{
    height: 100%;
}

body {
  background: #b993d6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b993d6, #8ca6db); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b993d6, #8ca6db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.95);
    height: 100%;
    text-align: justify;

}

.number{
    font-size: 60px;
    font-family: SFUIDisplay-Light;
    color: #FFFAFA;
    letter-spacing: 0;
}

.text{
/* Looks Good Here!: */
    font-family: SFUIDisplay-Regular;
    font-size: 16px;
    color: #FFFAFA;
    letter-spacing: 0;
}

.fixed{

    background: #72BDA3;
    text-align: center;
    box-shadow: 0 2px 10px 2px #738981;
    padding: 12px;
}

.fixed-total{
/* Rectangle 3: */
text-align: center;
background: #6680AA;
box-shadow: 0 2px 10px 2px #6C7584;
padding: 12px;
}

.users{
/* Rectangle 3: */
background: #E58270;
box-shadow: 0 2px 10px 2px rgba(151,103,94,0.50);
text-align: center;
padding: 12px;
}

.users .user-icon{
    /* Oval: */
/* Sketch doesnt export pattern fills at this point */
border-radius: 500 solid #FFFFFF;
border: 2px solid;

}

.label{
/* Building: */
font-family: SFUIDisplay-Light;
font-size: 14px;
color: #FFFAFA;
text-align: left;
}


.data{
    /* Tracy Hall: */
font-size: 16px;
color: #FFFAFA;
font-family: SFUIDisplay-Regular;
text-align: right;
}

.spacing{
    margin-top: 30px;
}


/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.stats{
    height: 250px;
    background: grey;
    text-align: center;
    vertical-align: middle;
    line-height:215px;
    padding: 30px;
    font-family: SFUIDisplay-Light;
    font-size: 4y 70px;
    margin-left: 0px;
    margin-right: 0px;
}

.buildings{
    margin-left: 0px;
    margin-right: 0px;
}


.building {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.36rem;
    border-bottom-color: #49D49D;
    padding-top: 0.8rem;
    border-radius: 0.2rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.building-title {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 18px;
    text-align: center;
    color: #333333;
    font-weight: 400;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";


}

.building-status-text {
    font-size: 12px;
    font-weight: 300;
    color: #757575;
    margin-left: 0.4rem;
    font-variant-caps: small-caps;
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
}



.building-percentage {
    font-size: 13px;
    font-weight: 400;
    float: right;
    color: #757575;
    margin-bottom: 0;
    margin-right: 0.4rem;
    letter-spacing: -0.5px;
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}

/*
.stats{
    min-height: 100%;
}

.row.no-pad {
  margin-right:-5px;
  margin-left:-5px;
}

.row.no-pad > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}

.user-icon{
    height: 75px;
    width: 75px;
    border:0.8px solid #333333;
    border-radius: 20px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;

}

.row-reset {
    margin-right:0;
}


.overall {
  padding: 20px;
  background: aliceblue;
  margin-top: 10px;
  color: black;
}


.overall-number{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.overall-details{
    text-align: center;
    font-size: 18px;

}

.status{
  padding: 20px;
  background: aliceblue;
  margin-top: 10px;
  color: black;
  display: flex;
  float: center;

}

.status-details{
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    font-variant-caps: small-caps;
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";

}


.status-label{
    font-size: 15px;
    line-height: 1.2;
    color: #A9A9A9;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";

}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.building-container {
    margin-bottom: 0.8rem;
}

.building {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.36rem;
    border-bottom-color: #49D49D;
    padding-top: 0.8rem;
    border-radius: 0.2rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.building-title {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 18px;
    text-align: center;
    color: #333333;
    font-weight: 400;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";


}

.building-status-text {
    font-size: 12px;
    font-weight: 300;
    color: #757575;
    margin-left: 0.4rem;
    font-variant-caps: small-caps;
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
}



.building-percentage {
    font-size: 13px;
    font-weight: 400;
    float: right;
    color: #757575;
    margin-bottom: 0;
    margin-right: 0.4rem;
    letter-spacing: -0.5px;
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}*/


/* Old */
/*
.container-fluid{
    background: grey;
    padding: 1.5rem, 2rem;
    margin: 2.0rem;
    margin-bottom: 1.0rem;
    border-radius: 0.4rem;
}
*/
/*
.row-building {
    margin-left: 0;
    margin-right: 0;
}
.buildings {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
}

.status-text {
    font-size: 12px;
    font-weight: 300;
    color: #757575;
    margin-bottom: 0;
    margin-left: 0.6rem;
    font-variant-caps: small-caps;
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
}

.banner-border{

}


.stitched {
    margin-right: 0.8rem;

   background: #D75A4A;
   color: #fff;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 2px;
   box-shadow: 0 0 0 4px #D75A4A, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #D75A4A;
   font-weight: normal;
}
.status-percentage {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 0;
    margin-right: 0.6rem;
    letter-spacing: -0.5px;
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}

.details{
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    font-variant-caps: small-caps;
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
}


.label{
    font-size: 15px;
    line-height: 1.2;
    color: #A9A9A9;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";

}
.details p{
  padding: 0 !important;
    margin: 0 !important;
    font-size: 18px;
    font-weight: 400;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
    line-height: 1.0;
}
.title {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 18px;
    font-weight: 400;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
}
.no-padding {
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.building {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.36rem;
    border-bottom-color: #49D49D;
    padding-top: 0.8rem;
    margin-top: 0.8rem;
    text-align: center;
    border-radius: 0.2rem;
    white-space: nowrap;
    margin-left: 0.8rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
.menu {
    text-align: center;
}
.banner-details {
    text-align: left;
    position: relative;
    padding-top: 1.6rem;
}
.test {
    float: left;
    margin: 1.6rem;
    display: inline-block;
    height: 55%;
}
.top-banner {
    background-color: white;
    text-align: center;
}
.logo-title {
    margin: 1.6rem;
    font-size: 20px;
    text-align: center;
}
.dashboard {
    background-color: rgba(250, 250, 250, 0.6);
    padding: 1.5rem, 2rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
.stats {
    background-color: rgba(245, 245, 245, 0.99);
    padding: 1.5rem, 2rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
*/
